.swal-modal{
    .swal-icon--success__ring{
        border: 4px solid #E7F3F9;
        background-color: #E7F3F9;
        z-index: 100;
    }
    .swal-icon--success__line{
        background-color : #66B2D9 ;
        z-index: 101;
    }
}